html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 3em;
    font-size: 1.4rem;
    background: rgb(235,76,0);
    background: linear-gradient(255deg, rgba(235,76,0,1) 0%, rgba(241,153,0,1) 38%, rgba(242,169,0,1) 53%, rgba(235,76,0,1) 100%);
    color: whitesmoke;
    height: 100vh;
}
header{
    margin: 1.5em 0;
}
    div{
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
    }
        header img{
            height: inherit;
            width: auto;
        }
    /* h1{
        font-size: 3.4rem;
        margin: 0;
        text-align: center;
        font-family: 'Modak', cursive;
    } */
    span > p{
        margin: .5rem 0;
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
    }
#main{
    margin: 2em 0;
    height: 60vh;
    padding: 2em;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* background-color: rgba(255, 239, 225, 0.65); */
    border-radius: 2em;
    /* filter: drop-shadow(0 0 6px rgba(255, 239, 225,1)); */
    /* box-shadow: 0 0 10px rgba(255, 239, 225,1); */
}
    section.interact{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        button{
            padding: .8em 1em;
            background-color: rgba(250,150,0,1);
            /* color: rgb(154, 44, 0); */
            color: white;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 900;
            font-style: italic;
            letter-spacing: .2em;
            border: none;
            box-shadow: -3px 3px rgb(154, 44, 0);
            /* border-top: none;
            border-left: 4px solid rgb(0, 0, 0);
            border-bottom: 4px solid rgb(0, 0, 0); */
            border-radius: .8em;
        }
        button#start{
            background-color: rgb(180, 70, 0);
            color: rgb(255, 233, 199);
            box-shadow: -4px 4px rgb(86, 24, 0);

        }
        button#contact{
            display: none;
        }
    
    .petInfo{
        display: none;
    }
    img{
        height: 60vh;
    }